apiVersion: cert-manager.io/v1
kind: Issuer 
metadata:
  name: 'letsencrypt-sds-viewer'
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: filippo@metacell.us
    privateKeySecretRef:
      name: letsencrypt-sds-viewer
    solvers:
    - http01:
        ingress:
          class: nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/issuer: letsencrypt-sds-viewer
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: 'true'
    nginx.ingress.kubernetes.io/proxy-body-size: 512m
  name: sds-viewer-nginx-ingress
spec:
  rules:
  - host: "{{DOMAIN}}"
    http:
      paths:
      - backend:
          service:
            name: sds-viewer
            port:
              number: 80
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - "{{DOMAIN}}"
    secretName: sds-viewer-tls
