name: SDS Viewer Workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the specified branch
  push:
    branches:
     - "master"
     - "development"
  pull_request:
    branches:
     - "master"
     - "development"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs: 
  sds_viewer_test:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04
    container: lironavon/docker-puppeteer-container:14.16.0
    env:
      CI: true
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
          node-version: 16.X
    - name: SDS Viewer tests disabled
      run: echo "Tests disabled for this pipeline"
      env:
          CI: true
